doctype html
html
    head
        style
            include style.css
    body
        div
            |Hello world
            br
            block userInfo
            |this is our container


        block content

        div.footer
            | (c) express-okten 2021
            | Footer!
            a(href=frontendUrl) Click Here
